* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: green;
}

.logo {
    flex: 10%;
    background-color: blue;
    text-align: center;
    margin-top: 15px;
    font-size: 50px;
}

.links {
    flex: 50%;
    background-color: coral;
    align-items: end;
    text-align: end;
    margin-top: 40px;
    margin-right: 20px;
}

.links a {
    align-items: end;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.conteudo {
    display: flex;
    flex-flow: row wrap;
    height: 700px;
    background-color: red;
}

.artes {
    flex: 50%;
    background-color: bisque;
}

.artes h1 {
    margin-left: 15px;
}

.artes p {
    margin-left: 25px;
}

.artes img {
    margin-left: 90px;
}

.artes h2 {
    margin-left: 20px;
}

.artes ul {
    margin-left: 25px;
}

.historia {
    flex: 50%;
    background-color: cadetblue;
}

.historia h1 {
    margin-left: 15px;
}

.historia p {
    margin-left: 25px;
}

.historia img {
    margin-left: 130px;
}

.video {
    background-color: blue;
    display: flex;
    flex-flow: row wrap;
    height: 500px;
}

.conteudoVideo {
    flex: 100%;
    align-items: center;
}

.conteudoVideo h1 {
    text-align: center;
}

.conteudoVideo p {
    text-align: center;
}

.conteudoVideo iframe {
    margin-left: 400px;
}

.rodape {
    height: 200px;
    background-color: brown;
}