* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(248, 223, 212);
}

.nav {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: rgb(243, 204, 187);
}

.logo {
    font-family: "Bitter", serif;
    flex: 10%;
    /*background-color: blue;*/
    color: rgb(170, 81, 18);
    text-align: center;
    margin-top: 15px;
    font-size: 50px;
}

.links {
    flex: 50%;
    /*background-color: coral;*/
    align-items: end;
    text-align: end;
    margin-top: 40px;
    margin-right: 20px;
}

.links a {
    font-family: "Bitter", serif;
    align-items: end;
    background-color: rgb(237, 173, 150);
    color: rgb(170, 81, 18);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.links a:hover {
    background-color: rgb(170, 81, 18);
    color: rgb(237, 173, 150);
}

.conteudo {
    font-family: "Bitter", serif;
    display: flex;
    flex-flow: row wrap;
    height: 700px;
    /*background-color: red;*/
}

.artes {
    flex: 50%;
    /*background-color: bisque;*/
    border: dashed 1px rgb(170, 81, 18);
    border-radius: 5px;
}

.artes h1 {
    margin-left: 15px;
    color: rgb(170, 81, 18);
}

.artes p {
    margin-left: 25px;
    color: rgb(170, 81, 18);
}

.artes img {
    margin-left: 150px;
}

.artes h2 {
    margin-left: 20px;
    color: rgb(170, 81, 18);
}

.artes ul {
    margin-left: 40px;
    color: rgb(170, 81, 18);
}

.historia {
    flex: 50%;
    /*background-color: cadetblue;*/
    border: dashed 1px rgb(170, 81, 18);
    border-radius: 5px;
}

.historia h1 {
    margin-left: 15px;
    color: rgb(170, 81, 18);
}

.historia p {
    margin-left: 25px;
    color: rgb(170, 81, 18);
}

.historia img {
    margin-top: 50px;
    margin-left: 205px;
}

.video {
    /*background-color: blue;*/
    display: flex;
    flex-flow: row wrap;
    height: 500px;

}

.conteudoVideo {
    font-family: "Bitter", serif;
    margin: 0;
    flex: 100%;
    align-items: center;
}

.conteudoVideo h1 {
    color: rgb(170, 81, 18);
    text-align: center;
}

.conteudoVideo p {
    color: rgb(170, 81, 18);
    text-align: center;
}

.conteudoVideo iframe {
    margin-left: 400px;
}

.rodape {
    background-image: linear-gradient(180deg, rgb(248, 223, 212), rgb(170, 81, 18));
    font-family: "Bitter", serif;
    height: 200px;
}

.rodape h1 {
    color: rgb(170, 81, 18);
    text-align: center;
    margin-top: 0px;
}

/*Estilo de sobre nos*/

.sobre {
    display: flex;
    flex-flow: row wrap;
    /*background-color: blue;*/
    height: 500px;
}

.sobre h1 {
    margin-left: 20px;
    color: rgb(170, 81, 18);
    flex: 10;
    align-self: center;
    font-family: "Bitter", serif;
    /*background-color: blueviolet;*/
}

.sobre p {
    color: rgb(170, 81, 18);
    font-family: "Bitter", serif;
    /*background-color: brown;*/
    text-align: center;
    font-size: large;
}

.sobre a {
    align-self: self-start;
    text-align: center;
    font-size: larger;
    font-family: "Bitter", serif;
    text-decoration: none;
    background-color: rgb(237, 173, 150);
    color: rgb(170, 81, 18);
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
}

.sobre a:hover {
    background-color: rgb(170, 81, 18);
    color: rgb(237, 173, 150);
}

/*estilo tiposArtes*/

.main {
    display: flex;
    flex-flow: column;
    height: auto;
    /*background-color: blue;*/
}

.conteudoTipo {
    margin-left: 50px;
    flex: 10;
    /*background-color: chocolate;*/
}

.conteudoTipo h1 {
    font-family: "Bitter", serif;
    color: rgb(170, 81, 18);
}

.conteudoTipo ul {
    color: rgb(170, 81, 18);
    font-family: "Bitter", serif;
}

.musica {
    margin-left: 50px;
    flex: 10;
    /*background-color: violet;*/
}

.musica h1 {
    color: rgb(170, 81, 18);
    font-family: "Bitter", serif;
}

.musica p {
    color: rgb(170, 81, 18);
    margin-left: 10px;
    font-family: "Bitter", serif;
}

.danca {
    margin-left: 50px;
    flex: 10;
    /*background-color: green;*/
}

.danca h1 {
    color: rgb(170, 81, 18);
    font-family: "Bitter", serif;
}

.danca p {
    color: rgb(170, 81, 18);
    margin-left: 10px;
    font-family: "Bitter", serif;
}

.pintura {
    margin-left: 50px;
    flex: 10;
    /*background-color: grey;*/
}

.pintura h1 {
    color: rgb(170, 81, 18);
    font-family: "Bitter", serif;
}

.pintura p {
    color: rgb(170, 81, 18);
    margin-left: 10px;
    font-family: "Bitter", serif;
}

.escultura {
    margin-left: 50px;
    flex: 10;
    /*background-color: bisque;*/
}

.escultura h1 {
    color: rgb(170, 81, 18);
    font-family: "Bitter", serif;
}

.escultura p {
    color: rgb(170, 81, 18);
    margin-left: 10px;
    font-family: "Bitter", serif;
}

.teatro {
    margin-left: 50px;
    flex: 10;
    /*background-color: chartreuse;*/
}

.teatro h1 {
    color: rgb(170, 81, 18);
    font-family: "Bitter", serif;
}

.teatro p {
    color: rgb(170, 81, 18);
    margin-left: 10px;
    font-family: "Bitter", serif;
}

.literatura {
    margin-left: 50px;
    flex: 10;
    /*background-color: turquoise;*/
}

.literatura h1 {
    color: rgb(170, 81, 18);
    font-family: "Bitter", serif;
}

.literatura p {
    color: rgb(170, 81, 18);
    margin-left: 10px;
    font-family: "Bitter", serif;
}

.cinema {
    margin-left: 50px;
    flex: 10;
    /*background-color: cornflowerblue;*/
}

.cinema h1 {
    color: rgb(170, 81, 18);
    font-family: "Bitter", serif;
}

.cinema p {
    color: rgb(170, 81, 18);
    margin-left: 10px;
    font-family: "Bitter", serif;
}

.arteDigital {
    margin-left: 50px;
    flex: 10;
    /*background-color: red;*/
}

.arteDigital h1 {
    color: rgb(170, 81, 18);
    font-family: "Bitter", serif;
}

.arteDigital p {
    color: rgb(170, 81, 18);
    margin-left: 10px;
    font-family: "Bitter", serif;
}

.menuVoltar {
    padding: 10;
    margin-bottom: 30px;
    margin-top: 50px;
}

.main a {
    margin-left: 40px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: larger;
    background-color: rgb(237, 173, 150);
    color: rgb(170, 81, 18);
}

.main a:hover {
    background-color: rgb(170, 81, 18);
    color: rgb(237, 173, 150);
}